<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- content Column -->
  <ng-container matColumnDef="content">
    <th mat-header-cell *matHeaderCellDef> content </th>
    <td mat-cell *matCellDef="let element"> {{element.content}} </td>
  </ng-container>

  <!-- registerDate Column -->
  <ng-container matColumnDef="registerDate">
    <th mat-header-cell *matHeaderCellDef> registerDate </th>
    <td mat-cell *matCellDef="let element"> {{element.registerDate}} </td>
  </ng-container>

  <!-- targetDate Column -->
  <ng-container matColumnDef="targetDate">
    <th mat-header-cell *matHeaderCellDef> targetDate </th>
    <td mat-cell *matCellDef="let element"> {{element.targetDate}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

